body {
    background-image: url("../images/portfoliobackground.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-circle {
    height: 50px;
    width: 50px;
    margin-top: 25px;
}

.btn-index{
    background: black;
    opacity: .75;
    border-radius: 0%;
    border: 1px solid white;
}

.car-image{
    height: 450px;
    width: 900px;
}